/*header, logo y buscador*/
.logo {
  margin: .5rem 0;
}

.logo:hover {
  opacity: 0.75;
}

.buscador {
  width: 400px;
  height: auto;
}

.buscador:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*navbar*/
.barra {
  padding-top: 0.5rem;
}

.navegacion {
  color: white;
}

.navegacion:focus {
  background-color: gold;
}

.items {
  margin: 0 3rem;
}

.items:hover {
  -webkit-text-decoration: 2px underline;
          text-decoration: 2px underline;
  background-color: #1d1d1d;
  border-radius: 20px;
}

/*index corrousel*/
.imagenes {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*productos*/
.productos {
  margin-top: 4rem;
  -webkit-animation-name: aparicion;
          animation-name: aparicion;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  background-color: #242424;
  border-radius: 20px;
  width: 75%;
}

.productos .productos__titulos {
  font-size: 1.25rem;
  text-decoration: underline;
  color: gold;
}

.description {
  background-color: black;
  border-radius: 25px;
  position: relative;
}

.description::before, .description::after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: 25px;
  z-index: -1;
  -webkit-animation: steam 60s linear infinite;
          animation: steam 60s linear infinite;
}

@-webkit-keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.description::after {
  -webkit-filter: blur(8px);
          filter: blur(8px);
}

.caracteristicas {
  color: whitesmoke;
}

/*botones de los productos*/
.ventas {
  margin-bottom: 2rem;
}

.ventas .ventas--precios {
  color: gold;
}

.ventas .ventas--botones {
  margin-top: 1rem;
  font-size: 15px;
  font-family: Arial;
  width: 140px;
  height: 50px;
  border-width: 1px;
  color: black;
  border-color: #333333;
  font-weight: bold;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-box-shadow: inset 0px 1px 0px 0px #fff6af;
          box-shadow: inset 0px 1px 0px 0px #fff6af;
  text-shadow: inset 0px 1px 0px #ffee66;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffec64), to(#ffab23));
  background: linear-gradient(#ffec64, #ffab23);
}

.ventas .ventas--botones:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffab23), to(#ffec64));
  background: linear-gradient(#ffab23, #ffec64);
}

/*servicios*/
.principal {
  margin-bottom: 3rem;
}

.servicios__Parrafos {
  color: gold;
  font-family: 'Oswald', sans-serif;
}

/*contacto/ubicaion*/
.ubicacion {
  margin-bottom: 5rem;
}

.formulario {
  width: 50%;
  height: auto;
  margin: 1rem 0 0 25%;
  background-color: #171717;
  color: whitesmoke;
  border: solid 2px white;
}

.contacto, .contacto__botones1, .contacto__botones2 {
  margin: 1rem 0;
  padding: 0 .5rem;
}

.contacto__botones1 {
  background-color: #333333;
  margin-bottom: 2rem;
  color: whitesmoke;
}

.contacto__botones1:hover {
  color: white;
}

.contacto__botones2 {
  margin-bottom: 2rem;
}

.Mensaje {
  width: 500px;
  height: 100px;
  margin-bottom: 1rem;
}

/*sobre nosotros*/
.sobreNosotros {
  margin-top: 1rem;
  background-color: #111111;
  -webkit-box-shadow: 2px 2px 15px 3px #ffab23;
          box-shadow: 2px 2px 15px 3px #ffab23;
  border-radius: 20px 20px 150px 150px;
}

.pagos {
  margin: 1rem 1.5rem 2rem;
}

footer {
  font-family: 'Neonderthaw', cursive;
  background-color: #171717;
  color: whitesmoke;
  margin-top: 4rem;
}

#redes {
  margin: .5rem 0;
}

.redes__sociales {
  margin: 0 1.5rem;
}

.redes__sociales:hover {
  opacity: 0.75;
}

/*animacion de los titulos*/
@-webkit-keyframes destacar {
  0% {
    color: yellow;
  }
  50% {
    color: gold;
  }
  100% {
    color: darkgoldenrod;
  }
}
@keyframes destacar {
  0% {
    color: yellow;
  }
  50% {
    color: gold;
  }
  100% {
    color: darkgoldenrod;
  }
}

/*reseteo de los margtenes de las paginas*/
body {
  margin: 0;
  padding: 0;
  background-color: #0e0e0efb;
}

/*quitar las decoraciones de los anclas*/
a {
  text-decoration: none;
}

/*decoracion de los parrafos de la description de los productos y sobre nosotros*/
.parrafos {
  color: gold;
}

.parrafos .parrafos__resaltado {
  text-decoration: underline;
}

/*alineacion de los titulos y decoracion*/
.titulos, .titulos2 {
  color: whitesmoke;
  font-family: 'Lobster', cursive;
  margin: .5rem 0 1rem;
  text-decoration: underline;
  font-size: 2.25rem;
  -webkit-animation-name: destacar;
          animation-name: destacar;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.titulos2 {
  margin-top: 2rem;
  font-size: 1.75rem;
  animation-direction: alternate-reverse;
}

/*vista mobile*/
@media only screen and (max-width: 992px) {
  /*navbar (padding y quitar las decoraciones de los items)*/
  .barra {
    padding-top: 0.5rem;
  }
  .items:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0;
  }
  /*imagenes y videos de servicios*/
  .servicios__imagenes {
    width: 100%;
    height: auto;
  }
  .servicios__Parrafos {
    color: wheat;
    font-family: 'Oswald', sans-serif;
  }
  /*imagenes del carrousel del index*/
  .imagenes {
    height: 250px;
  }
  /*videos de todas las paginas*/
  .videos {
    width: 100%;
    height: 250px;
  }
  /*bordes del contenido de sobre nosotros*/
  .sobreNosotros {
    border-radius: 20px;
  }
  /*titulos de todas las paginas*/
  .titulos, .titulos2 {
    font-size: 1.5rem;
  }
  .titulos2 {
    font-size: 1.25rem;
  }
  /*parrafos de los productos y sobre nosotros*/
  .parrafos {
    text-align: center;
  }
  /*correcion de la animacion RGB*/
  .description::before, .description::after {
    left: 0;
    top: 0;
    width: calc(100%);
    height: calc(100%);
  }
  /*footer*/
  .redes__sociales {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .derechos {
    font-size: 14px;
  }
}

/*vista mobil del index*/
@media only screen and (min-width: 1400px) {
  /*imagenes del index*/
  .imagenes {
    height: 650px;
  }
}

/*vista mobil de contacto/porductos*/
@media only screen and (max-width: 1275px) {
  /*contacto*/
  .formulario {
    width: 100%;
    height: auto;
    margin-left: 0;
  }
  .contacto, .contacto__botones1, .contacto__botones2 {
    margin-left: 0;
  }
  .Mensaje {
    width: 80%;
    height: 100px;
  }
  /*productos*/
  .productos {
    margin-top: 3rem;
    width: 98%;
  }
  .caracteristicas {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */