@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');

/* reseteo los margenes*/
*{
    margin: 0;
    padding: 0;
}

/*color de fondo de la pagina*/
body{
    background-color: #0e0e0efb;
}

/*header, logo y buscador*/
.logo{
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.logo:hover{
    opacity: 0.75;
}
.buscador{
    width: 400px;
}
.buscador:focus{
    box-shadow: none;
}

/*navbar*/

.barra{
    padding-top: .5rem;
}
.navegacion{
    color:white;
}
.navegacion:focus{
    background-color: #ffab23;
}
.items{
    margin-left: 3rem ;
    margin-right: 3rem ;
}
.items:hover{
    text-decoration: underline;
}


/*quitar la decoracion de las anclas*/
a{
    text-decoration: none;
}

/*alineacion de los titulos y decoracion*/
.titulos{
    color: whitesmoke;
    font-family: 'Lobster', cursive;
    margin-top: .5em;
    margin-bottom: 1rem;
    text-decoration: underline;
}


/*botones de ventas*/

.ventas--botones {
    font-size:15px;
    font-family:Arial;
    width: 140px;
    height:50px;
    border-width:1px;
    color:rgba(0, 0, 0, 1);
    border-color:#333333;
    font-weight:bold;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow:inset 0px 1px 0px 0px #fff6af;
    text-shadow:inset 0px 1px 0px #ffee66;
    background:linear-gradient(#ffec64, #ffab23);
} 
.ventas--botones:hover {
    background: linear-gradient(#ffab23, #ffec64);
}


/*footer*/

footer{
    font-family: 'Neonderthaw', cursive;
    background-color:#171717;
    color: whitesmoke;
    margin-top: 3rem;
}
#redes{
    margin-top: .5em;
    margin-bottom: .5em;
}
.redes__sociales{
    margin-left: 1.5em;
    margin-right: 1.5em;
}
.redes__sociales:hover{
    opacity: 0.75;
}

/*servicios*/

.principal{
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 3rem;
}
.serviciosParrafos {
    color: wheat;
    font-family: 'Oswald', sans-serif;
}

/*productos*/

.productos{
    margin-top: 4rem;
}
.caracteristicas {
    color: whitesmoke;
}
.ventas--precios{
    color: gold;
}
.ventas--botones{
    margin-top: 1rem;
}

/*contacto/ubicaion*/

.ubicacion{
    margin-bottom: 5em;
}

.formulario{
    width: 50%;
    margin-left: 25%;
    margin-top: 1rem;
    background-color: #171717;
    color: whitesmoke;
    border: solid 2px white;
}

.contacto{
    margin-left: 1rem;
    margin-top: 1rem;
}

.contacto__botones1 {
    background-color: #333333;
    margin-bottom: 2rem;
    color: whitesmoke;
}
.contacto__botones1:hover{
    text-transform: capitalize;
    color: whitesmoke;
}

.contacto__botones2{
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.Mensaje{
    width: 500px;
    margin-bottom: 1rem;
}

/*sobre nosotros*/

.pagos{
    margin-left: 1.5rem;
    margin-right: 1.5em;
    margin-bottom: 2rem;
}
.parrafos{
    color: wheat;
}
.parrafos__resaltado{
    text-decoration: underline;
}

/*vista mobile*/

@media only screen and (max-width: 992px) {
    .principal{
        margin-left: 0%;
        margin-right: 0%;
    }

    .barra{
        padding-top: .5rem;
    }

    .imagenes{
        width: 100%;
    }

    .productos{
        margin-top: 3rem;
    }

    .videos{
        width: 100%;
        height: 250px;
    }

    .serviciosParrafos {
        color: whitesmoke;
        font-family: 'Oswald', sans-serif;
    }

    .redes__sociales{
        margin-left: .5em;
        margin-right: .5em;
    }

    .parrafos{
        text-align: center;
    }

    textarea{
        width: 250px;
    }

}

/*vista mobil de contacto*/
@media only screen and (max-width: 1250px) {

    .formulario{
        width: 100%;
        margin-left: 0;
    }

    .contacto{
        margin-left: 0;
    }
    
    .Mensaje{
        width: 80%;
    }

    .caracteristicas {
        align-items: center;
    }

}