

footer{
    font-family: 'Neonderthaw', cursive;
    background-color:#171717;
    color: map-get($estilos, importantes);
    margin-top: map-get($estilos,espacio)+2;
}

#redes{
    margin-top: map-get($estilos,espacio)-1.5;
    margin-bottom: map-get($estilos,espacio)-1.5;
}

.redes__sociales{
    margin-left: map-get($estilos,espacio)-.5;
    margin-right: map-get($estilos,espacio)-.5;
    &:hover{
        opacity: 0.75;
    }
}