

footer{
    font-family: 'Neonderthaw', cursive;
    background-color:#171717;
    color: $importantes;
    margin-top: 4rem;
}
#redes{
    margin-top: .5em;
    margin-bottom: .5em;
}

.redes__sociales{
    margin-left: 1.5em;
    margin-right: 1.5em;
    &:hover{
        opacity: 0.75;
    }
}