

footer{
    font-family: 'Neonderthaw', cursive;
    background-color:#171717;
    color: map-get($estilos, importantes);
    margin-top: map-get($estilos,espacio)+2;
}

#redes{
    margin: .5rem 0;
}

.redes__sociales{
    margin: 0 1.5rem;
    &:hover{
        opacity: 0.75;
    }
}