

/*header, logo y buscador*/
.logo{
    margin: .5rem 0;
    &:hover{
        opacity: 0.75;
    }
}

.buscador{
    @include tamano(400px,auto);
    &:focus{
        box-shadow: none;
    }
}

/*navbar*/
.barra{
    padding-top:map-get($estilos,espacio)-1.5;
}

.navegacion{
    color:white;
    &:focus{
        background-color: map-get($estilos, oro );
    }
}

.items{
    margin: 0 3rem;
    &:hover{
        text-decoration: 2px underline;
        background-color: rgb(29, 29, 29);
        border-radius: 20px;
    }
}

