

/*header, logo y buscador*/
.logo{
    margin-top: map-get($estilos,espacio)-1.5;
    margin-bottom: map-get($estilos,espacio)-1.5;
    &:hover{
        opacity: 0.75;
    }
}

.buscador{
    @include tamano(400px,auto);
    &:focus{
        box-shadow: none;
    }
}

/*navbar*/
.barra{
    padding-top:map-get($estilos,espacio)-1.5;
}

.navegacion{
    color:white;
    &:focus{
        background-color: map-get($estilos, oro );
    }
}

.items{
    margin-left: map-get($estilos,espacio)+1;
    margin-right: map-get($estilos,espacio)+1;
    &:hover{
        text-decoration: underline;
    }
}

