
/*animacion*/
@keyframes aparicion{
    0%{
        opacity: 0;
    }

    50%{
        opacity: .5;
    }

    100%{
        opacity: 1;
    }
}

/*productos*/
.productos{
    margin-top: 4rem;
    animation-name: aparicion;
    animation-duration: 2s;
}

.caracteristicas {
    color: $importantes;
}

.ventas--precios{
    color: $oro;
}

/*botones de los productos*/
.ventas--botones {
    margin-top: 1rem;
    font-size:15px;
    font-family:Arial;
    width: 140px;
    height:50px;
    border-width:1px;
    color:rgba(0, 0, 0, 1);
    border-color:#333333;
    font-weight:bold;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow:inset 0px 1px 0px 0px #fff6af;
    text-shadow:inset 0px 1px 0px #ffee66;
    background:linear-gradient(#ffec64, #ffab23);
    &:hover{
        background: linear-gradient(#ffab23, #ffec64);
    }
}

/*servicios*/
.principal{
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 3rem;
}

.serviciosParrafos {
    color: $parrafos;
    font-family: 'Oswald', sans-serif;
}

/*contacto/ubicaion*/
.ubicacion{
    margin-bottom: 5em;
}

.formulario{
    width: 50%;
    margin-left: 25%;
    margin-top: 1rem;
    background-color: #171717;
    color: $importantes;
    border: solid 2px white;
}

.contacto{
    margin-left: 1rem;
    margin-top: 1rem;
    .contacto__botones1 {
        background-color: #333333;
        margin-bottom: 2rem;
        color: $importantes;
    }
    .contacto__botones2{
        margin-left: 1rem;
        margin-bottom: 2rem;
    }
}


.Mensaje{
    width: 500px;
    margin-bottom: 1rem;
}

/*sobre nosotros*/

.sobreNosotros{
    margin-top: .5rem;
    animation-name: aparicion;
    animation-duration: 3s;
}

.pagos{
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5em;
    margin-bottom: 2rem;
}


