
/*animacion*/
@keyframes aparicion{
    0%{
        opacity: 0;
    }

    50%{
        opacity: .5;
    }

    100%{
        opacity: 1;
    }
}

/*productos*/
.productos{
    margin-top: map-get($estilos,espacio)+2;
    animation-name: aparicion;
    animation-duration: 2s;
}

.caracteristicas {
    color: map-get($estilos, importantes);
}

.ventas--precios{
    color: map-get($estilos, oro);
}

/*botones de los productos*/
.ventas--botones {
    margin-top: map-get($estilos,espacio)-1;
    font-size:15px;
    font-family:Arial;
    @include tamano(140px,50px);
    border-width:1px;
    color:rgba(0, 0, 0, 1);
    border-color:#333333;
    font-weight:bold;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow:inset 0px 1px 0px 0px #fff6af;
    text-shadow:inset 0px 1px 0px #ffee66;
    background:linear-gradient(#ffec64, #ffab23);
    &:hover{
        background: linear-gradient(#ffab23, #ffec64);
    }
}

/*servicios*/
.principal{
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: map-get($estilos,espacio)+1;
}

.serviciosParrafos {
    color: map-get($estilos, parrafos);
    font-family: 'Oswald', sans-serif;
}

/*contacto/ubicaion*/
.ubicacion{
    margin-bottom:map-get($estilos,espacio)+3;
}

.formulario{
    @include tamano(50%,auto);
    margin-left: 25%;
    margin-top: map-get($estilos,espacio)-1;
    background-color: #171717;
    color: map-get($estilos, importantes);
    border: solid 2px white;
}

.contacto{
    margin-left:map-get($estilos,espacio)-1;
    margin-top:map-get($estilos,espacio)-1;
}
.contacto__botones1{
    @extend.contacto;
    background-color: #333333;
    margin-bottom: map-get($estilos,espacio);
    color: map-get($estilos, importantes);
    &:hover{
        color: white
    }
}
.contacto__botones2{
    @extend.contacto;
    margin-bottom: map-get($estilos,espacio);
}


.Mensaje{
    @include tamano(500px,100px);
    margin-bottom:map-get($estilos,espacio)-1;
}

/*sobre nosotros*/

.sobreNosotros{
    margin-top:map-get($estilos,espacio)-1.5;
    animation-name: aparicion;
    animation-duration: 3s;
}

.pagos{
    margin-top: map-get($estilos,espacio)-1;
    margin-left: map-get($estilos,espacio)-.5;
    margin-right: map-get($estilos,espacio)-.5;
    margin-bottom: map-get($estilos,espacio);
}


