

/*index corrousel*/

.imagenes{
    height: 500px;
    object-fit: cover;
}

/*productos*/
.productos{
    margin-top: map-get($estilos,espacio)+2;
    animation-name: aparicion;
    animation-duration: 2s;
    background-color:#242424;
    border-radius: 20px;
    width: 75%;
    .productos__titulos{
        font-size: map-get($estilos,espacio)-.75;
        text-decoration: underline;
        color: gold;
    }
}
.description{
    background-color:black;
    border-radius: 25px;
    position: relative;
}
.description::before, .description::after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
    border-radius: 25px;
	z-index: -1;
	animation: steam 60s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.description::after {
	filter: blur(8px);
} 
.caracteristicas {
    color: map-get($estilos, importantes);
}

/*botones de los productos*/
.ventas{
    margin-bottom: map-get($estilos, espacio);
    .ventas--precios{
        color: map-get($estilos, oro);
    }
    .ventas--botones {
        margin-top: map-get($estilos,espacio)-1;
        font-size:15px;
        font-family:Arial;
        @include tamano(140px,50px);
        border-width:1px;
        color:rgba(0, 0, 0, 1);
        border-color:#333333;
        font-weight:bold;
        border-top-left-radius:6px;
        border-top-right-radius:6px;
        border-bottom-left-radius:6px;
        border-bottom-right-radius:6px;
        box-shadow:inset 0px 1px 0px 0px #fff6af;
        text-shadow:inset 0px 1px 0px #ffee66;
        background:linear-gradient(#ffec64, #ffab23);
        &:hover{
            background: linear-gradient(#ffab23, #ffec64);
        }
    }
}

/*servicios*/
.principal{
    margin-bottom: map-get($estilos,espacio)+1;
}

.servicios__Parrafos {
    color: map-get($estilos, oro);
    font-family: 'Oswald', sans-serif;
}

/*contacto/ubicaion*/
.ubicacion{
    margin-bottom:map-get($estilos,espacio)+3;
}

.formulario{
    @include tamano(50%,auto);
    margin: 1rem 0 0 25%;
    background-color: #171717;
    color: map-get($estilos, importantes);
    border: solid 2px white;
}

.contacto{
    margin: 1rem 0;
    padding: 0 .5rem;
}
.contacto__botones1{
    @extend.contacto;
    background-color: #333333;
    margin-bottom: map-get($estilos,espacio);
    color: map-get($estilos, importantes);
    &:hover{
        color: white
    }
}
.contacto__botones2{
    @extend.contacto;
    margin-bottom: map-get($estilos,espacio);
}   

.Mensaje{
    @include tamano(500px,100px);
    margin-bottom:map-get($estilos,espacio)-1;
}

/*sobre nosotros*/

.sobreNosotros{
    margin-top:map-get($estilos,espacio)-1;
    background-color: rgb(17, 17, 17);
    box-shadow: 2px 2px 15px 3px #ffab23;
    border-radius: 20px 20px 150px 150px;
}

.pagos{
    margin: 1rem 1.5rem 2rem;
}
