@import "variables";
@import "header";
@import "paginas";
@import "footer";


body{
    margin: 0;
    padding: 0;
    background-color: #0e0e0efb;
}

a{
    text-decoration: none;
}

.parrafos{
    color: map-get($estilos, parrafos);
    .parrafos__resaltado{
        text-decoration: underline;
    }
}

/*alineacion de los titulos y decoracion*/
.titulos{
    color: map-get($estilos, importantes);
    font-family: 'Lobster', cursive;
    margin-top: map-get($estilos,espacio)-1.5;
    margin-bottom: map-get($estilos,espacio)-1;
    text-decoration: underline;
}

/*vista mobile*/
@media only screen and (max-width: 992px) {
    .principal{
        margin-left: 0%;
        margin-right: 0%;
    }

    .barra{
        padding-top: map-get($estilos,espacio)-1.5;
    }

    .imagenes{
        @include tamano(100%,auto);
    }

    .productos{
        margin-top: map-get($estilos,espacio)+1;
    }

    .videos{
        @include tamano(100%,250px);
    }

    .serviciosParrafos {
        color: map-get($estilos, parrafos);
        font-family: 'Oswald', sans-serif;
    }

    .redes__sociales{
        margin-left: map-get($estilos,espacio)-1.5;
        margin-right: map-get($estilos,espacio)-1.5;
    }

    .parrafos{
        text-align: center;
    }

    textarea{
        @include tamano(250px,auto);
    }

}

/*vista mobil de contacto*/
@media only screen and (max-width: 1250px) {

    .formulario{
        @include tamano(100%,auto);
        margin-left: 0;
    }

    .contacto{
        margin-left: 0;
    }
    
    .Mensaje{
        @include tamano(80%,100px);
    }

    .caracteristicas {
        align-items: center;
    }

}